exportPattern("^[^\\.]")
S3method(plot, bsts)
S3method(summary, bsts)
S3method(predict, bsts)
S3method(plot, bsts.prediction)
S3method(plot, bsts.mixed)

import(Boom,
       BoomSpikeSlab,
       xts,
       zoo)

useDynLib(bsts)
